:local .main {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

:local .button {
    margin-right: 10px;
}

:local .text {
    max-width: calc(100% - 144px);
    flex-grow: 1;
    border-radius: 0 8px 8px 0;
    /*border-color: black;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*box-sizing: border-box;*/
    padding-bottom: 6px;
    padding-top: 6px;
}