.custom-input {
    width: 80px;
}

.max-file-size-config {
    display: flex;
    align-items: flex-end;
}

.select {
    min-width: 100px;
}
.select button {
    display: none;
}

.menu-item button {
    margin-left: auto;
}
