
:local .display {
    flex-grow: 2;
    display: flex;
    max-height: calc(100% - 232px);
    position: relative;
}

:local .display .children {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

:local .header {
    display: flex;
    position: relative;
}

:local .header .file-select {
    max-width: calc(100% - 64px);
}

:local .header .alert {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

:local .footer {
    position: relative;
}

:local .footer .info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

:local .footer .controls {
    display: flex;
    align-items: center;
}

:local .controls .process-btn {
    /*width: 80px;*/
    /*z-index: 1;*s/
    /*margin-left: 8px;*/
    /*height: 68px;*/
}

:local .controls .settings {
    display: flex;
}

:local .controls .settings .left, .controls .settings .right {
    display: flex;
}

:local .controls .settings .left {
    flex-grow: 1;
}

:local .controls .settings .right {
    margin-right: 140px;
}

:local .controls .speed-slider {
    flex-grow: 1;
}

:local .app {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.rows {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.rows > * {
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.vertical-divider {
    width: 2px;
    background: #2b2b2b;
    margin: 0 2px;
}

:global .noUi-tooltip {
    display: none;
    white-space: pre;
}

:global .noUi-active .noUi-tooltip {
    display: block;
}

:global .noUi-handle:focus .noUi-tooltip {
    display: block;
}

:global .noUi-touch-area:focus + .noUi-tooltip {
    display: block;
}

:global .noUi-horizontal .noUi-handle {
    border-radius: 50%;
    width: 28px;
    height: 28px;

    /* top = height/2 - connectsHeight/2*/
    top: -11px;
    /* right = width/2 */
    right: -14px;
    border: none;
    box-shadow: 0 0px 2px 0 #303030;
}

:global .noUi-handle::before, :global .noUi-handle::after {
    display: none;
}

:global .noUi-target {
    border: none;
}

:global .noUi-horizontal {
    height: 6px;
}

:global .noUi-connects {
    box-shadow: inset -1px -1px 2px 0px #00000047;
}
