
:local .display {
    flex-grow: 2;
    display: flex;
    max-height: calc(100% - 185px);
}

:local .header {

}

:local .footer {

}

:local .footer .controls {
    display: flex;
    align-items: center;
}

:local .controls .process-btn {
    width: 80px;
    z-index: 1;
    margin-left: 8px;
    height: 64px;
}

:local .controls .settings {
    display: flex;
}

:local .controls .settings .left, .controls .settings .right {
    display: flex;
}

:local .controls .settings .left {
    flex-grow: 1;
}

:local .controls .settings .right {
}

:local .controls .speed-slider {
    flex-grow: 1;
}

:local .app {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.rows {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.rows > * {
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.vertical-divider {
    width: 2px;
    background: #2b2b2b;
    margin: 0 2px;
}

:global .noUi-tooltip {
    display: none;
}

:global .noUi-active .noUi-tooltip {
    display: block;
}

:global .noUi-handle:focus .noUi-tooltip {
    display: block;
}

:global .noUi-touch-area:focus + .noUi-tooltip {
    display: block;
}

:global .noUi-horizontal .noUi-handle {
    /*width: 14px;*/
}