:local .process-btn {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
}

:local .display {
    flex-grow: 2;
    display: flex;
    max-height: calc(100% - 120px);
}

:local .header {
    flex-grow: 1;
    max-height: 45px;
}
:local .footer {
    flex-grow: 1;
    padding: 0 10px;
    max-height: 75px;
}

:local .app {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

body {
    overflow: hidden;
    padding: 2px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
